    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .logo {
        margin: 0;
        font-size: 1.45em;
    }

    .main-nav {
        margin-top: 5px;

    }

    .logo a,
    .main-nav a {
        padding: 10px 15px;
        text-align: center;
        display: block;
    }

    .main-nav a {
        color: #34495e;
        font-size: .99em;
    }

    .main-nav a:hover {
        color: #718daa;
    }



    .header {
        padding-top: .5em;
        padding-bottom: .5em;
        background-color: oldlace;
        font-family: sans-serif;


    }

    @media (min-width: 769px) {

        .header,
        .main-nav {
            display: flex;
        }

        .header {
            flex-direction: column;
            align-items: center;
        }

        .header {
            margin: 0 auto;
            max-width: 1150px;
        }
    }


    @media (min-width: 1025px) {
        .header {
            flex-direction: column;
            justify-content: space-between;
        }

    }
